<h2>List ({{model.length}})</h2>

  <div class="row">

  {{#each model as |library|}}
    <div class="col-md-4">
      {{#library-item item=library}}{{/library-item}}
    </div>
  {{/each}}

  </div>
